#mail-input {
	width: 600px;
	margin: 20px auto;
}

#mail-input label {
	display: inline-block;
	padding: 5px 15px;
	width: 80px;
	font-size: 14px;
}

#mail-input .text-input {
	width: 200px;	
	padding: 5px;
	height: 18px;
	font-size: 14px;
	border: 1px solid #c9c9c9;
}

#mail-input select {
	width: 212px;	
	padding: 5px;
	border: 1px solid #c9c9c9;
	color: #555555;
}

#mail-input .comment {
	font-size: 13px;
	color: #5c5c5c;
}
